.hangman-drawing {
    height: 50%;
    width: 50%;
    margin: auto;
    position: relative;

    .line-1 {
        border: 5px solid #27187e;
        width: 38%;
        position: absolute;
        left: 30%;
        top: 10%;
    }

    .line-2 {
        border: 5px solid #27187e;
        height: 80%;
        width: 0;
        position: absolute;
        left: 30%;
        top: 10%;
    }

    .line-3 {
        border: 5px solid #27187e;
        height: 10%;
        width: 0;
        position: absolute;
        top: 10%;
        right: 30%;
    }

    .line-4 {
        border: 5px solid #27187e;
        width: 38%;
        position: absolute;
        bottom: 10%;
        left: 12%;
    }

    .body-part {
        border: 5px solid #ff8600;
        position: absolute;
    }

    .head {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        right: 24%;
        top: 20%;
    }

    .body {
        height: 30%;
        right: 30%;
        top: 35%;
    }

    .right-arm {
        width: 20%;
        rotate: -30deg;
        right: 12%;
        top: 40%;
    }

    .left-arm {
        width: 20%;
        rotate: 30deg;
        right: 30%;
        top: 40%;
    }

    .right-leg {
        width: 20%;
        rotate: 50deg;
        right: 15%;
        top: 70%;
    }

    .left-leg {
        width: 20%;
        rotate: -50deg;
        right: 27%;
        top: 70%;
    }
}