@import "../../styles/variables.css";

.center-container {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  height: 100vh; /* Adjust this value based on your layout */
  
}

/* Contact card styles */
.card-container {
  margin: 30px;
  border-radius: 20px;
  width: 1000px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  padding: 2rem;
  background-color: var(--bg-color);
  box-shadow: var(--main-shadow);
  border: 1px solid var(--highlight-color);

  h3 {
    font-size: 1.8rem;

    span {
      font-size: 130%;
      color: var(--highlight-color);
    }
  }

  span {
    font-size: 1.3rem;

    a {
      color: var(--highlight-color);
    }
  }
}

.person-wrapper-left {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--dark-bg);
  border-radius: 20px;
}

.person-wrapper-right {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--dark-bg);
  margin: 20px 0;
  border-radius: 20px;
}

.image-wrapper {
  border-radius: 25px;
  overflow: hidden;
}

.information {
  margin: 0px 25px 0px 25px;
  display: block;
}

.title {
  font-size: 1.25em;
  font-weight: bold;
  padding-bottom: 20px;
}

span {
  font-size: 16px;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}
