@import "../styles/variables.css";

.header {
  width: 100%;
  height: 7rem;
  background-color: var(--bg-color);
  padding: 0 2rem;
  padding-right: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  font-size: 1.5rem;

  .logo {
    width: 170px;
    transition: all 500ms ease-in-out;

    &:hover {
      transform: scale(0.9);
    }
  }

  ul:hover a {
    color: #02b58852;
    transition: all 200ms ease-in-out;
  }

  ul:hover a:hover {
    color: var(--highlight-color);
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  a {
    color: #02b588;
    font-weight: 900;
    text-transform: uppercase;

    &.selected {
      color: var(--text-color);
      text-decoration: underline;
      text-underline-offset: 8px;
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .login-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;

    .selected {
      color: red;
    }
  }

  .user-container {
    .user-img {
      width: 70px;
      border-radius: 50%;
      cursor: pointer;

      img {
        border-radius: inherit;
      }
    }

    .user-dropdown {
      z-index: 10;
      width: 200px;
      height: 200px;
      background-color: #1c1c1cad;
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
      position: absolute;
      right: -200px;
      top: 7rem;
      box-shadow: var(--main-shadow);
      animation: slide-from-right 500ms ease-in-out forwards;

      .logout-btn, .profile-btn {
        padding: 7px;
        font-weight: 900;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 20px;
        background-color: var(--highlight-color);
        color: var(--text-color);
        border: none;
        margin-top: 10px;

        &:hover {
          cursor: pointer;
          background-color: #018363;
        }
      }
    }
  }
}

@keyframes slide-from-right {
  0% {
    right: -200px;
  }

  100% {
    right: 1px;
  }
}

main {
  position: relative;
  background-color: var(--dark-bg);
  color: var(--text-color);
}

@media screen and (max-width: 860px) {
  .header {
    font-size: 1.3rem;
    padding-left: 4.2rem;
    padding-right: 2rem;

    .logo {
      /* z-index: 12; */
      width: 120px;
    }
    nav {
      .nav {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
        background-color: var(--dark-bg);
        height: 100vh;

        li {
          transform: rotate(-90deg);
          font-size: 16px;
          margin-top: 2rem;
        }
      }
    }

    .login-container {
      font-size: 1rem;
    }

    .user-container {
      .user-img {
        width: 50px;
      }
    }
  }

  main {
    margin-left: 4rem;
  }
}
