@import "../styles/variables.css";

.header {
  width: 100%;
  height: 7rem;
  background-color: var(--dark-bg);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  font-size: 1.5rem;

  ul:hover a {
    color: #02b58852;
    transition: all ease-in-out 200ms;
  }

  ul:hover a:hover {
    color: var(--highlight-color);
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  a {
    color: #02b588;
    font-weight: 900;
    text-transform: uppercase;

    &.selected {
      color: var(--text-color);
      text-decoration: underline;
      text-underline-offset: 8px;
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .login-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;

    .selected {
      color: red;
    }
  }

  .user-container {
    .user-img {
      width: 80px;
      border-radius: 50%;
      cursor: pointer;

      img {
        border-radius: inherit;
      }
    }

    .user-dropdown {
      z-index: 10;
      width: 200px;
      height: 85vh;
      background-color: #444;
      font-size: 0.7rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
      position: absolute;
      right: 1px;
      top: 6rem;

      .logout-btn {
        padding: 7px;
        font-weight: 900;
        cursor: pointer;
      }
    }
  }
}

main {
  position: relative;
  background-color: var(--dark-bg);
  color: var(--text-color);
}
