.invalid {
    color: red;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2rem;
}

form {
    width: 400px;
    margin: auto;
    input, button {
        width: 100%;
        padding: 10px;
        margin-bottom: 1rem;
        font-size: 16px;
    }
}